.contact {
  height: 80vh;
}
.contactItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    color: var(--text-color);
  }

  span {
    border: var(--text-color) solid 1px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
  }
}

@media (min-width: 670px) and (max-width: 1200px) {
  .contact {
    height: 100%;
  }

  .contactItemWrapper {
    padding: 20px 0;
  }
}

@media (max-width: 670px) {
  .contactItemWrapper {
    padding: 20px 0;
  }
}
