.contactItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: fit-content;
  }

  .iconsBorder {
    border: var(--text-color) solid 1px;
    border-radius: 100%;
    padding: 2px 7px;
    margin-right: 10px;

    :global(.material-symbols-rounded) {
      padding-top: 4px;
    }
  }
}

.contact-icons {
  .tooltip {
    display: none;
    position: absolute;
    background-color: var(--color-brand-purple); 
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    transform: translateY(120%);
  }
}

.contact-icons {
  display: flex;
  gap: 30px;

  .link {
    svg {
      font-size: 32px;
      color: var(--text-color);

      &:hover {
        color: var(--color-brand-purple);
      }
    }

    &:hover .tooltip {
      display: block;
    }
  }
}

@media (min-width: 670px) and (max-width: 1200px) {
  .contact {
    height: 100%;
  }

  .contactItemWrapper {
    padding: 20px 0;
  }
}

@media (max-width: 670px) {
  .contactItemWrapper {
    padding: 20px 0;
  }
}
