.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.sepezh {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
}

.dot {
  font-size: 40px;
  color: var(--color-brand-purple);
}

.navList {
  display: flex;
  gap: 2rem;
  font-size: 18px;
  list-style: none;
  padding: 0;

  a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;

    &:hover,
    &.active {
      color: var(--color-brand-purple);
    }
  }
}

.mobileOnly {
  display: none;
}

.right {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.email {
  text-decoration: none;

  &:hover,
  &.active {
    :global(.material-symbols-rounded) {
      color: var(--color-brand-purple);
    }
  }
}

.themeBtn {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: -3px;
  transition: transform 0.2s ease;
}

.themeBtn:hover {
  transform: scale(1.15);
}

@media (max-width: 810px) {
  .mobileOnly {
    display: block;
  }

  .right {
    display: none;
  }

  .navList {
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: transform 0.5s cubic-bezier(0.6, 0.8, 0.6, 1);
    z-index: 5;
    pointer-events: none;
  }

  .navListOpen {
    transform: translateX(0);
    pointer-events: auto;
    padding-top: 100px;

    li:not(:last-child) {
      position: relative;

      ::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 70px;
        top: 40px;
        left: 50%;
        background-color: var(--color-brand-purple);
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}
