.proj {
  align-content: flex-start;
  align-items: flex-start;
  align-self: start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  justify-content: flex-start;
  justify-self: start;
  padding: 0;
  position: relative;
  width: 100%;
}

.span2 {
  grid-column: auto / span 2;
}

.span3 {
  grid-column: auto / span 3;
}

.container {
  flex: none;
  height: auto;
  position: relative;
  width: 100%;
}

.inner {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  height: auto;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  opacity: 1;
}

.imageWrapper {
  /* align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px; */
  height: 325px;
  /* justify-content: center; */
  /* overflow: hidden; */
  /* padding: 0; */
  position: relative;
  width: 100%;
  border-radius: 20px;
  /* opacity: 1; */
}

.imageContainer {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
}

.image {
  /* display: block; */
  width: 100%;
  height: 100%;
  border-radius: inherit;
  /* object-position: center center; */
  object-fit: cover;
  /* image-rendering: auto; */
}

.project-content {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: auto;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
}

.projectLink {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .iconsBorder {
    :global(.material-symbols-rounded) {
      font-size: 18px;
      color: var(--color-brand-purple);
      border: var(--color-brand-purple) solid 2px;
      border-radius: 100%;
      margin-left: 10px;
    }
  }

  &:hover {
    color: var(--text-color-hovered);

    :global(.material-symbols-rounded) {
      color: var(--bg-color);
      border-color: var(--color-brand-purple);
      background-color: var(--color-brand-purple);
    }
  }
}

@media (max-width: 670px) {
  .projectLink {
    font-size: 18px;
  }
}
