.proj {
  align-content: flex-start;
  align-items: flex-start;
  align-self: start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  justify-content: flex-start;
  justify-self: start;
  padding: 0;
  position: relative;
  width: 100%;
}

.span2 {
  grid-column: auto / span 2;
}

.span3 {
  grid-column: auto / span 3;
}

.container {
  flex: none;
  height: auto;
  position: relative;
  width: 100%;
}

.inner {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  height: auto;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  opacity: 1;
}

.image {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: 325px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  border-radius: 20px;
  opacity: 1;
}

.imgContainer {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
}

.projectImg {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
}

.project-content {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: auto;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
}

.projectLink {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--text-color);
  text-decoration: none;

  svg {
    margin-left: 10px;
    font-size: 20px;
    color: var(--color-brand-purple);
  }

  &:hover {
    color: var(--text-color-hover);

    svg {
      color: var(--color-brand-purple-hovered);
    }
  }
}

@media (max-width: 670px) {
  .projectLink {
    font-size: 18px;
  }
}
