.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;

  li::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--color-brand-purple);
    border-radius: 50%;
    margin-left: 10px;
  }
}
