html {
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #fff;
  --text-color: #1a1a1a;
  --color-brand-purple: #6e06f2;
  --color-brand-purple-circle: rgba(110, 6, 242, 0.4);
  --color-brand-purple-hovered: rgba(110, 6, 242, 0.8);
  --color-marquee: #b8b8b8;
  --color-options-border: rgb(119, 126, 144);
}

[data-theme='dark'] {
  --bg-color: #1a1a1a;
  --text-color: #f1f1f1;
  --color-brand-purple: #b48cff;
  --color-brand-purple-circle: rgba(150, 80, 255, 0.4);
  --color-brand-purple-hovered: rgba(150, 80, 255, 0.8);
  --color-marquee: #8a8a8a;
  --color-options-border: rgb(216, 229, 255);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

main,
footer,
header {
  padding: 0 40px;
}

main {
  text-align: start;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

section {
  margin-bottom: 100px;
  width: 100%;
}

h2,
h3,
h4,
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 90px;
  font-weight: 800;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 56px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

ul {
  li {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.purple {
  color: var(--color-brand-purple);
}

@media (min-width: 810px) and (max-width: 1200px) {
  section {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 72px;
  }
}

@media (min-width: 670px) and (max-width: 810px) {
  section {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  ul {
    li {
      font-size: 16px;
    }
  }
}

@media (max-width: 670px) {
  section {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  ul {
    li {
      font-size: 14px;
    }
  }
}
